

.CarouselProductsGeneral-container-title{
  display: flex;
  align-items: center;
  padding: 1em 1em 0 1em;
  font-size: 14px;
  gap: 6px;
}

.CarouselProductsGeneral-container-title a {
  color: var(--second-color-light) ;
}

.CarouselProductsGeneral-title{
  margin: 0;
  color: var(--main-color);
}

.card-general-product{
  background-color: #d9d9d980;
  border-radius: 11px;
  height: 200px;
  width: 125px;
  padding: 10px 6px;
  box-shadow: 3px 5px 5px 0 rgba(128, 128, 128, 0.5);
}

.card-general-product > header{
  text-align: right;
  color: var(--main-color-light);
  width: 100%;
}

.card-general-product img {
  width: 90px;
  border-radius: 11px;
  height: 80px;
  object-fit: cover;
  margin: .7em 0;
}

.card-general-product > figcaption{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6px 3px;
  letter-spacing: .7px;
  font-weight: 600;
}

.card-general-product_container-price{
  padding: .5em 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.card-general-product_container-price > span {
  letter-spacing: .7px;
}

.card-general-product .button-buy {
  background-color: var(--main-color-light);
  color: white;
  border: 1px solid transparent;
  border-radius: 3px;
  text-decoration: none;
  font-size: 12px;
  padding: 3px 5px;
}